h1 {
	font-size: 73px;
	color: whitesmoke;
	text-align: center;
	font-family: "EB Garamond", serif;
	font-weight: 400;
  	margin-bottom: 0px;
}
h3 {
	font-size: 40px;
	color: whitesmoke;
	text-align: center;
	font-family: "EB Garamond", serif;
	font-weight: 400;
  	margin-top: 30px;
  	margin-bottom: 80px;
}
img {
	max-width: 80%;
}
body {
	background-color: #342E37;
	text-align: center;
}