/*****GENERAL STYLES*****/
* {
	box-sizing: border-box;
}
body{
	background-color: #fff0f5;
	text-align: center;
}
img {
	max-width: 80%;
}


/*****LAYOUT STYLES*****/
header {
	width: 75vw;
	margin: 25px auto;
}
main {
	width: 75vw;
	margin: 25px auto;
	display: flow-root;
}
.col {
	width: 100%;
}

/*****TEXT STYLES*****/
h1 {
	color: #D07190;
	font-family: "Gravitas One", serif;
	font-size: 100px;
}
h2 {
	color: #342E37;
	font-family: "Raleway", sans-serif;
	font-size: 35px;
}
p {
	color: #342E37;
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	margin-bottom: 100px;
}